# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Temporary files
tmp.*
tmp[0-9].*

# Build dir
build/

# Files for testing
/test.*

# IDE-related files
.vscode/

# Apple Mac
/.DS_Store